# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# Build artifacts
dist/
build/
version.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
